{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %} Family 1st Residential and Commercial Cleaning
{% endblock title %}

{% block content %}
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>Residential and Commercial Cleaning</h1>
          <h2>One call cleans it all!</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#cta" class="btn-get-started scrollto">Schedule Your Free Estimate</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-medal-fill"></i></div>
            <h4 class="title"><a href="">Licensed & Insured</a></h4>
            <p class="description">We are fully licensed and insured.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-contacts-book-2-line"></i></div>
            <h4 class="title"><a href="">Service Contracts</a></h4>
            <p class="description">Providing janitorial services to offices and businesses.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-user-voice-line"></i></div>
            <h4 class="title"><a href="">Hablamos Español</a></h4>
            <p class="description">We are fluent in both spanish and english.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-road-map-line"></i></div>
            <h4 class="title"><a href="">Service Area</a></h4>
            <p class="description">Serving Philadelphia, Bucks, and Montgomery Counties.</p>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row about-video">

          <div class="col-lg-6 align-self-baseline" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'img/about-us-img.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Family owned and operated</h3>
            <p>
              Family 1st Cleaning proudly serves the Philadelphia, Montgomery County and Bucks County Areas, founded in 2012 being a family owned and operated business. 
              Nothing brings us greater satisfaction than delivering high quality cleaning services at competitive rates. We promise to leave your office, home or facility
              healthier and happier than ever before.  
            </p>

            <p class="font-italic">
              We clean every home and facility as if it were our own! When you work with us you are guaranteed:
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Commitment to quality</li>
              <li><i class="bx bx-check-double"></i> Relationships and trust</li>
              <li><i class="bx bx-check-double"></i> Attention to detail and instruction</li>
            </ul>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->





    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row justify-content-end">

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">105</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">683</span>
              <p>Clean Houses</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">12</span>
              <p>Years of experience</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-toggle="counter-up">9564</span>
              <p>Magic Erasers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container">

        <div class="section-title">
          <h2>Our Commercial Clients</h2>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="{% static 'img/clients/ggrc-logo-trans.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="{% static 'img/clients/royal-clothing.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="{% static 'img/clients/logo-navy.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
            <img src="{% static 'img/clients/royal-fam-emergency.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Cleaning Services</h2>
          <p>High quality professional cleaning at affordable prices.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bx-home-smile"></i>
              </div>
              <h4><a href="">Residential</a></h4>
              <p>Weekly, bi-weekly, and monthly cleaning options available</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-building"></i>
              </div>
              <h4><a href="">Commercial</a></h4>
              <p>One-time deep cleanings or scheduled options available</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-buildings"></i>
              </div>
              <h4><a href="">Service Contracts</a></h4>
              <p>Daily and weekly janitorial cleaning contracts available</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Sevices Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Don't take it from us ... see our customers are saying!</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Edwin and Wanda are the best! They leave my home looking amazing and I love seeing them every week
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>Sara W.</h3>
            <h4>Residential Customer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Family 1st has been cleaning my commercial building for years on a daily contract. My offices are perfect every morning when I come in. Thank you!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>Josh C.</h3>
            <h4>Commercial Janitorial Contract</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I hired Family 1st Cleaning a few months ago to clean my retail store once a week and I couldn't be more pleased with the results. My showcases, office, and retail space are always spotless after they're finished.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>Jena K.</h3>
            <h4>Store Owner</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                I own a fire and smoke restoration company and I hire Edwin to come in after the projects are complete to make sure the property is ready for the residents to move back in. They're trustworthy, hard workers, and always do a great job.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>Chris G.</h3>
            <h4>Business Owner</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Family First Cleaning comes to my house once a month and it's my favorite day! My kitchen always sparkles after they leave and it makes me so happy
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <h3>Mary L.</h3>
            <h4>Residential Customer</h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h3>Get Your Free Quote</h3>
          <p>We will come see the location you would like serviced and provide you an estimate based on the frequency of cleaning.</p>
          <form method="POST" action="{% url 'quote_request' %}">
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            <div class="row">
              <div class="col-lg-4">
                {% bootstrap_field form.name show_label=False  %}
              </div>
              <div class="col-lg-4">
                {% bootstrap_field form.email show_label=False  %}
              </div>
              <div class="col-lg-4">
                {% bootstrap_field form.phone show_label=False  %}
              </div>
            </div>
            <button class="cta-btn" type="submit">Get Your Free Quote</button>
          </form>
        </div>
      </div>
    </section><!-- End Cta Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Will you bring your own cleaning supplies? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Yes, we always come prepared to every cleaning with everything we need.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Will you use my products if I would prefer? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Of course! If you have specific products that you prefer and we do not carry we will gladly use them.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">How long does a cleaning take? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  That depends on the size of your home or property. The first cleaning will always take longer and the follow up regularly scheduled cleanings will take less time.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">Do I have to sign a contract? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  No, we will come and clean your home for as long or short as you'd like. Our goal is to work with you for many years!
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">Do I have to be home when you are cleaning? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  No, as long as you have a way to let us in when you are not home you do not have to be there. However, if it makes you feel more comfortable you are welcome to stay and watch what we do. All of our house cleaning employees are trustworthy and friendly.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>


        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p><a href="mailto:info@family1stcleaning.com">info@family1stcleaning.com</a></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p><a href="tel:18883261781">1(855)FAM-1ST-1</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="{% url 'contact_us' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />

                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />

                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="How can we help you?" placeholder="Message"></textarea>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}