{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="Top commercial and residential cleaning company servicing Philadelphia, Montgomery, and Bucks Counties." name="description">
  <link rel="canonical" href="https://family1stcleaners.com" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://family1stcleaners.com" />
	<meta property="og:title" content="Family 1st Residential & Commercial Cleaning" />
	<meta property="og:description" content="Top commercial and residential cleaning company servicing Philadelphia, Montgomery, and Bucks Counties." />
  <meta property="og:image" content="{% static 'img/fam1st-og-img.png' %}" />

  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

    <a href="#" class="logo mr-auto"><img src="{% static 'img/logo-main.png' %}" alt="" class="img-fluid"></a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="tel:18883261781" class="get-started-btn scrollto">Call Now</a>

    </div>
  </header><!-- End Header -->

    {% block content %}
    {% endblock content %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact mx-auto">
            <img src="{% static 'img/logo-main.png' %}" alt="" class="img-fluid"></a>
            <p>
              <strong>Phone:</strong> <a href="tel:18883261781">1(855)FAM-1ST-1</a><br>
              <strong>Email:</strong> <a href="mailto:info@family1stcleaning.com">info@family1stcleaning.com</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links mx-auto">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#header" class="scrollto">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about" class="scrollto">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services"  class="scrollto">Services</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links mx-auto">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services"  class="scrollto">Residential Cleaning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services"  class="scrollto">Commercial Cleaning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services"  class="scrollto">Janitorial Contracts</a></li>
            </ul>
          </div>

          {% comment %} <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> {% endcomment %}

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright 2020 <strong><span>Family 1st Residential & Commercial Cleaning</span></strong>. All Rights Reserved | <a href="https://elevatedwebsystems.com">Website Design & Development</a> by Elevated Web Systems
        </div>
        
      </div>
      {% comment %} <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> {% endcomment %}
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  {% block footscript %}
  {% endblock footscript %}

</body>

</html>